# Copyright 2023 Gerwin Hoogsteen

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# File that contains settigns for ODECT

odect_settings = {
	'api_knmi': 	'<your API key here>', 				# personal security token of KNMI 		https://developer.dataplatform.knmi.nl/get-started#obtain-an-api-key
	'api_entsoe':	'<your ENTSO-E API Key here>',		# personal security token of ENTSO-e 	https://transparency.entsoe.eu/content/static_content/download?path=/Static%20content/API-Token-Management.pdf
	'n_day':		3, 									# Default days to download data for if no range is specified
	}